

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

h1 {
  font-family: $header-font;
  color: #fff;
  opacity:0.7;
  @include font-size(9);
  line-height: 95px;
  letter-spacing:-4px;
  text-transform:uppercase;
}

h2 {
  font-family: $header-font;
  color: #fff;
  opacity:0.6;
  text-transform: uppercase;
  @include font-size(3);
  line-height: 35px;
}

h3 {
  font-family: $header-font;
  letter-spacing: 2px;
  @include font-size(2.5);
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 600;
  color: $color__grey-mid;
  margin-bottom: 30px;
}

a,
body,
p {
  font-family: $body-font;
  @include font-size(1.4);
}

p:last-child {
  margin-bottom: 0;
}

.txt-large p {
  font-family: $body-font;
  @include font-size(2.7);
  color: $color__grey-mid;
  font-weight: 400;
}
