body {background-color: grey;}

html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}

h1 {
  font-family: $main-font;
  color: #fff;
  opacity:0.7;
  @include font-size(9);
  line-height: 95px;
  letter-spacing:-4px;
  text-transform:uppercase;
}

h2 {
  font-family: $main-font;
  color: #fff;
  opacity:0.6;
  text-transform: uppercase;
  @include font-size(3);
  line-height: 35px;
}

h3 {
  font-family: $body-font;
  font-size: 25px;
  line-height: 30px;
  color: #fff;
}

a,
body,
p {
  font-family: $body-font;
}
