.page-section {
  margin-bottom: 70px;

  &:first-child {
    margin-top: 100px;
  }

  &:last-child {
    margin-bottom: 100px;
  }
}

.mb-70 {
  margin-bottom: 70px;
}

.bgcover {
  background-position:center center;
  background-size:cover;
  background-repeat:no-repeat;
}
