
// button
.button {
  color: #fff;
  font-weight: 600;
  background-color: rgba( $red, .5 );
  @include font-size(1.2);
  text-transform: uppercase;
  padding: 1em 2em;
  margin: 20px 0;
  display: inline-block;
  transition: $transition-main;
  text-decoration: none !important;
  border: transparent solid 3px;

  &:hover {
    background-color: $red;
    color: #fff;
    border: #fff solid 3px;
  }
}

.landing {
  .slick-next {
      right: 10px;

      &:before {
        font-family : FontAwesome;
        content:"\f054";
        color: white;
        font-size: 50px;
      }
  }


  .slick-prev {
      left: 10px;

      &:before {
      font-family : FontAwesome;
      content:"\f053";
      color: white;
      @include font-size(5);
      }
  }



  .slider-item {
    display: flex !important;
    height: 100vh;

    &__bg {
      background-position: center;
      background-size: cover;
      position: absolute;
      height: 100vh;
      width: 100vw;
      z-index: -10;
    }

    &__number {
      @include font-size(7);
      color: rgba(255, 255, 255, .7);
      line-height: 1em;
      bottom: 0;
      position: absolute;
      right: 10px;
    }

    &__caption {
      margin-top: auto;
      left: 0;
      color: #fff;
      padding-left: 33px;
      @include font-size(1.8);

      &--diagonal {
        @include font-size(1.8);
        color: #fff;
        position: absolute;
        bottom: 60px;
        transform: rotate(-90deg) translateY(-27px);
      }
    }
  }

  .hp-cta {
    text-align: center;
    position: absolute;
    top: 39%;
    width: 100%;

  }
}
