.flex-50 {
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;

        .column {
            align-self:stretch;
            width:50%;
            padding:10% 5%
        }

}


.wpcf7 {
    form {
        label {
            font-size:18px;
        }

        input[type],
        textarea {
            border-radius:0;
            border:2px solid rgba(0,0,0,0.5);
            font-size:18px;
            padding:10px 15px;

            &:focus {
            border-color:#a3bfd9;
            box-shadow: 0 0 0 0.2rem #a3bfd9;
            }
        }

        input[type=submit] {
            color:#fff;
            border-color:rgba(0,0,0,0.5);
            height:auto;
            font-size:20px;
            background-color:#a3bfd9;
            line-height:1;
            padding:15px;
            text-transform:uppercase;
            font-weight:bold;
            border-width:2px;
            transition:all 0.3s ease;

            &:hover,
            &:active {
                background-color:white;
                color:#a3bfd9;
                border-color:#a3bfd9;
                box-shadow: 0 0 2px 0.4rem #a3bfd9;
            }
        }

        .ajax-loader {
            display:none;
        }

        .wpcf7-validation-errors {
            margin: 20px 0;
            font-size:16px;
            opacity:0.8;
            color:firebrick;
        }

        .wpcf7-not-valid {
            border-left:4px solid firebrick;
        }

        .wpcf7-not-valid-tip {
            color:firebrick;
            font-size:14px;
        }
    }
}