.flex-50 {
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;

    @media only screen and (max-width: 800px) {
      display: block;
    }

        .column {
            align-self:stretch;
            width:50%;
            padding:10% 5%;

            @media only screen and (max-width: 800px) {
              width: 100%;
            }
        }

        .bgcover  {
          min-height: 300px;
        }

}


.wpcf7 {
  max-width: 100%;
    form {
        label {
            font-size:18px;
            color: $color__grey-mid;
            text-transform: uppercase;
        }

        input[type],
        textarea {
            display:inline-block;
            height:auto;
            border-radius:0;
            border:1px solid rgba(0,0,0,0.2);
            font-size:18px;
            padding:15px 15px;

            &:focus {
            border-color:#a3bfd9;
            box-shadow: 0 0 0 0.2rem #a3bfd9;
            }
        }

        input[type=submit] {
          color: #fff;
          font-weight: 600;
          @include font-size(1.2);
          text-transform: uppercase;
          padding: 2em 6em;
          margin: 20px 0;
          display: inline-block;
          transition: $transition-main;
          text-decoration: none !important;
          background-color: $color__sky;
          border-radius: 100px;
          width: auto;
          border: none;
          margin: 0 auto;
          display: flex;

            &:hover,
            &:active {
              color: $color__sky !important;
              background-color: $color__grey-darkest !important;
            }
        }

        .ajax-loader {
            display:none;
        }

        .wpcf7-validation-errors {
            margin: 20px 0;
            font-size:16px;
            opacity:0.8;
            color:firebrick;
        }

        .wpcf7-not-valid {
            border-left:4px solid firebrick;
        }

        .wpcf7-not-valid-tip {
            color:firebrick;
            font-size:14px;
        }
    }
}
