@import url('https://fonts.googleapis.com/css?family=Oswald|Quattrocento+Sans');

// Fonts
$main-font: 'Oswald', sans-serif;
$body-font: 'Quattrocento Sans', sans-serif;

// Colors
$colors: 		(
    "sky":      #A3BFD9,
    "light":    #F2F2F2,
    "mid":      #737373,
    "dark":     #404040,
    "darkest":  #262626,
	"white": 	#FFF,
	"black": 	#000,
);

@each $key, $value in $colors {
    .bg#{$key} {
        background: $value;
    }

    .color#{$key} {
        color: $value;
    }
}


$transition-main: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);

