@import url('https://fonts.googleapis.com/css?family=Oswald|Quattrocento+Sans');

// Fonts
$main-font: 'Oswald', sans-serif;
$body-font: 'Quattrocento Sans', sans-serif;

// Colors
$powder-blue: #4ABDAC;
$cotton: #99CED4;
$blush: #EEB6B7;
$smoke: #6E7376;
